<%- include('include/back_head.ejs') %>
  <!-- Navigation-->
<%- include('include/back_top_navigation.ejs') %>
<%- include('include/back_navigator.ejs') %>
<!-- end Navigation-->
  <!-- ============================================================== -->
  <div class="page-wrapper">
    <div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
    <div class="row">
        <h4 class="card-title m-b-0">URUTONDE RW'IBYAMAZWA</h4>
        <a href="/admin/new_anouncement" class="btn btn-primary" style="margin-left: 65%;">IGINSHYA</a>
    </div>
    <hr>
    <% if(anounce_data.length > 0){ %>
        <% if(errorMessage){ %>
            <h4 style="color:brown; margin-left: 10rem;"><%= errorMessage %></h4>
        <% } %>
    <div class="row el-element-overlay">
        <% for( let anounce of anounce_data){ %>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="el-card-item">
                    <div class="el-card-avatar el-overlay-1"> 
                        <img src="/<%= anounce.image %>" alt="user" />
                    </div>
                    <div class="el-card-content">
                        <h4 class="m-b-0"><%= anounce.title %></h4> 
                        <span class="text-muted"><%= anounce.subtitle %></span>
                    </div>
                    <hr>
                    <div class="" style="text-align: center;">
                        <a href="/admin/anounce_edit/<%=anounce._id %>" class="btn btn-primary btn-sm">Edit</a>
                        <a href="/admin/anounce_publish/<%= anounce._id %>" class="btn btn-success btn-sm">
                            <% if(anounce.anounce_status === '1'){ %>
                                Unpublish
                            <% }else{ %>
                                Publish
                            <% } %>
                        </a>
                        <a href="/admin/anounce_delete/<%= anounce._id %>" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <% }else{%>
        <h3>No data in database</h3>
    <% } %>

 
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Right sidebar -->
  <!-- ============================================================== -->
  <!-- .right-sidebar -->
  <!-- ============================================================== -->
  <!-- End Right sidebar -->
  <!-- ============================================================== -->
</div>
    <!-- /.container-fluid-->
    <%- include('include/back_footer.ejs') %>