<%- include('include/back_head.ejs') %>
    <!-- Navigation-->
    <%- include('include/back_top_navigation.ejs') %>
        <%- include('include/back_navigator.ejs') %>
            <!-- end Navigation-->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <form class="form-horizontal" action="/admin/<% if(editing){ %>edit_product<% }else{ %>newCake<% } %>" method="POST" enctype="multipart/form-data">
                                    <div class="card-body">
                                        <h4 class="card-title"><b>FILL THE FORM OF NEW CAKE</b></h4>
                                        <% if(errorMessage){ %>
                                            <h3 style="color: brown;">
                                                <%= errorMessage %>
                                            </h3>
                                            <% } %>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group ">
                                                            <label for="image" class="col-sm-12  control-label col-form-label">image</label>
                                                            <div class="col-sm-12">
                                                                <% if(editing){ %>
                                                                    <input type="hidden" class="form-control" name="editID" id="editID" value="<%= editing_data._id %>">
                                                                    <% } %>
                                                                        <input type="file" class="form-control" name="image" id="image" placeholder=" Here" value="<% if(editing){ %><%= editing_data.image_news %><% } %>">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label for="title" class="col-sm-12  control-label col-form-label">Title</label>
                                                            <div class="col-sm-12">
                                                                <input type="text" class="form-control" name="title" id="title" placeholder="Title Here" value="<% if(editing){ %><%= editing_data.title %><% } %>">
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <div class="col-sm-12">
                                                                <select name="category" id="category" class="form-control">
                                                                    <option value="" disabled="disabled" selected>Select cake category</option>
                                                                    <% for(let categories_data of categories){ %>
                                                                    <option value="<%=categories_data._id%>" <% if(editing) { %> selected=selected" <%=editing_data.category %><% } %>>
                                                                        <%=categories_data.categoryName%></option>
                                                                        <% } %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group ">
                                                            <label for="product_subtitle" class="col-sm-12 control-label col-form-label">Cake Name</label>
                                                            <div class="col-sm-12">
                                                                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                                                <input type="text" class="form-control" name="product_subtitle" id="product_subtitle" placeholder="Name of cake  Here" value="<% if(editing){ %><%= editing_data.product_subtitle %><% } %>">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group ">
                                                            <label for="title" class="col-sm-12  control-label col-form-label">Descriptions</label>
                                                            <div class="col-sm-12">
                                                                <textarea name="cake_description" class="form-control" id="cake_description" cols="30" rows="10"><% if(editing){ %><%= editing_data.cake_description %><% } %></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                    </div>
                                    <div class="border-top">
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-primary"><% if(editing){ %>Save updated news<% }else{ %>Save news<% } %></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <form class="form-horizontal" action="/admin/newcategory" method="POST">
                                    <div class="card-body">
                                        <h4 class="card-title"><b>ADD CATEGORY HERE</b></h4>
                                        <% if(errorMessage){ %>
                                            <div class="alert alert-success">
                                                <%= errorMessage %>
                                            </div>
                                            <% } %>
                                                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="category" id="category" placeholder="Category name">
                                                </div>
                                                <button type="submit" class="btn btn-success btn-sm">
                                                    <i class="mdi mdi-plus"> Save Category </i>
                                                </button>
                                    </div>
                                </form>

                                <div class="panel panel-default">
                                    <center>
                                        <u> <b>Available categories</b></u>
                                        <% if(categories.length > 0){ %>
                                            <div class="overflow-auto">
                                                <table class="table table-bordered table-sm">
                                                    <thead>
                                                        <th scope="col ">No</th>
                                                        <th scope="col ">Category Names</th>
                                                        <th scope="col ">Actions</th>
                                                    </thead>
                                                    <tbody>
                                                        <% let i=0 %>
                                                            <% for(let categories_data of categories){ %>
                                                                <tr>
                                                                    <td>
                                                                        <%= i+1 %>
                                                                    </td>
                                                                    <td>
                                                                        <%= categories_data.categoryName %>
                                                                    </td>
                                                                    <td>
                                                                        <a href="/admin/deletecategory/<%=categories_data._id %>">
                                                                            <span class="mdi mdi-delete-forever" title="Delete forever"></span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <% i = i+1 %>
                                                                    <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <% } else{ %>
                                                <h1>No categories found</h1>
                                                <% } %>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                </div>
            </div>
            <!-- ============================================================== -->
            <%- include('include/back_footer.ejs') %>