<%- include('include/back_head.ejs') %>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Navigation-->
    <%- include('include/back_top_navigation.ejs') %>
        <%- include('include/back_navigator.ejs') %>
            <!-- end Navigation-->
            <!-- ============================================================== -->
            <div class="page-wrapper">
                <div class="container-fluid">
                    <!-- ============================================================== -->
                    <div class="row">

                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="alert alert-cyan">
                                        <center>
                                            <h3 class="card-title m-b-0">
                                                <span class="fa fa-list">&nbsp; LIST OF ORDERS RECEIVED FROM CUSTOMERS </span>
                                            </h3>
                                        </center>
                                    </div>
                                </div>
                                <% if(errorMessage){ %>
                                    <h3 style="color: brown;">
                                        <%= errorMessage %>
                                    </h3>
                                    <% } %>
                                        <% if(orders.length > 0){ %>
                                            <div class="overflow-auto">
                                                <table class="table table-dark table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col ">Names</th>
                                                            <th scope="col ">Phone</th>
                                                            <th scope="col ">Email</th>
                                                            <th scope="col ">Address</th>
                                                            <th scope="col ">Cake name</th>
                                                            <th scope="col ">Image</th>
                                                            <th scope="col ">Total cost</th>
                                                            <th scope="col ">payment Status</th>
                                                            <th scope="col ">Shipping Status</th>
                                                            <th scope="col ">Payment method</th>
                                                            <th scope="col ">Total cost</th>
                                                            <th scope="col ">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for(let orders_data of orders){ %>
                                                            <tr>
                                                                <td>
                                                                    <%= orders_data.fname %>
                                                                        <%= orders_data.lname %>
                                                                </td>
                                                                <td class="text-success ">
                                                                    <%= orders_data.phone %>
                                                                </td>
                                                                <td class="text-info ">
                                                                    <%= orders_data.email %>
                                                                </td>
                                                                <td class="text-success ">
                                                                    <%= orders_data.district %> |
                                                                        <%= orders_data.sector %> |
                                                                            <%= orders_data.cell %> |
                                                                                <%= orders_data.village %>
                                                                </td>
                                                                <td>
                                                                    <%=orders_data.cake_name %>
                                                                </td>
                                                                <td>
                                                                    <a href="/uploads/<%=orders_data.image %>">
                                                                  <img src="/uploads/<%=orders_data.image %>" width="50" height="auto" alt="Cake photo">
                                                                </a>
                                                                </td>
                                                                <td>
                                                                    <%= orders_data.tt_cost  %> Rwf
                                                                </td>
                                                                <td>
                                                                    <%= orders_data.payment_status %>
                                                                </td>
                                                                <td>
                                                                    <%= orders_data.order_status %>
                                                                </td>
                                                                <td>
                                                                    <%= orders_data.payment_method %>
                                                                </td>
                                                                <td style="display:flex ">
                                                                    <div style="margin-left: 0rem; ">
                                                                        <a class="btn <% if(orders_data.orders_status==1 ){ %> btn-success
                                                <% }else{ %> btn-info
                                                    <% } %>" href="/admin/approve_orders/<%= orders_data._id %>">
                                                                            <i class="mdi mdi-check"></i>
                                                                        </a>

                                                                    </div>

                                                                    <div style="margin-left: 1rem;">
                                                                        <a class="btn btn-danger" href="/admin/delete_orders/<%= orders_data.id %>">
                                                                            <i class="mdi mdi-close"></i>
                                                                        </a>

                                                                    </div>


                                                                </td>
                                                            </tr>
                                                            <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <% }else{ %>
                                                <h1>No orders in the system</h1>
                                                <% } %>
                            </div>

                            <!-- card new -->

                        </div>
                    </div>
                    <div class="fixed">
                        <% if (pages > 0) { %>
                            <ul class="pagination text-center">
                                <% if (current == 1) { %>
                                    <li class="disabled"><a>First</a></li>
                                    <% } else { %>
                                        <li><a href="/admin/orderss/?page=1">First</a></li>
                                        <% } %>
                                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                                <% if (i !== 1) { %>
                                                    <li class="disabled"><a>...</a></li>
                                                    <% } %>
                                                        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                                            <% if (i == current) { %>
                                                                <li class="active">
                                                                    <a>
                                                                        <%= i %>
                                                                    </a>
                                                                </li>
                                                                <% } else { %>
                                                                    <li>
                                                                        <a href="/admin/orderss/?page=<%= i %>">
                                                                            <%= i %>
                                                                        </a>
                                                                    </li>
                                                                    <% } %>
                                                                        <% if (i == Number(current) + 4 && i < pages) { %>
                                                                            <li class="disabled"><a>...</a></li>
                                                                            <% } %>
                                                                                <% } %>
                                                                                    <% if (current == pages) { %>
                                                                                        <li class="disabled"><a>Last</a></li>
                                                                                        <% } else { %>
                                                                                            <li>
                                                                                                <a href="/admin/orderss/?page=<%= pages %>">
                                                                                          Last
                                                                                        </a>
                                                                                            </li>
                                                                                            <% } %>
                            </ul>
                            <% } %>
                    </div>
                    <!-- ============================================================== -->
                </div>
            </div>
            <!-- ============================================================== -->
            <%- include('include/back_footer.ejs') %>