<%- include('includes/header.ejs'); %>

    <%- include('includes/menu_header.ejs');  %>

        <!--================End Main Header Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_text">
                    <h3>Our Cakes</h3>
                    <ul>
                        <li><a href="index">Home</a></li>
                        <li><a href="cakes">Services</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Main Header Area =================-->

        <!--================Blog Main Area =================-->
        <section class="our_cakes_area p_100">
            <div class="container">
                <div class="main_title">
                    <h2>Our Cakes</h2>
                    <h5>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</h5>
                </div>
                <div class="cake_feature_row row">
                    <% if(data_cakes.length > 0){ %>
                        <% for( let cakes of data_cakes){ %>
                            <div class="col-lg-3 col-md-4 col-6">
                                <div class="cake_feature_item">
                                    <a href="/product-details/<%= cakes._id %>">
                                        <div class="cake_img">
                                            <img src="/uploads/<%= cakes.image_news %>" alt="">
                                        </div>
                                    </a>
                                    <div class="cake_text">
                                        <h4>$29</h4>
                                        <h3>Strawberry Cupcakes</h3>
                                        <a class="pest_btn" href="/product-details/<%= cakes._id %>"><i class="fa fa-info"></i>&nbsp;More details </a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% } %>

                </div>
            </div>
        </section>
        <!--================End Blog Main Area =================-->
        <!---======================= PAGINATION STARTS HERE ====================-->
        <div class="container">

            <!-- PAGINATION -->
            <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                        <% } else { %>
                            <li><a href="/cake/?page=1">First</a></li>
                            <% } %>
                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                    <% if (i !== 1) { %>
                                        <li class="disabled"><a>...</a></li>
                                        <% } %>
                                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                                <% if (i == current) { %>
                                                    <li class="active">
                                                        <a>
                                                            <%= i %>
                                                        </a>
                                                    </li>
                                                    <% } else { %>
                                                        <li>
                                                            <a href="/cake/?page=<%= i %>">
                                                                <%= i %>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                                            <% if (i == Number(current) + 4 && i < pages) { %>
                                                                <li class="disabled"><a>...</a></li>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% if (current == pages) { %>
                                                                            <li class="disabled"><a>Last</a></li>
                                                                            <% } else { %>
                                                                                <li>
                                                                                    <a href="/cake/?page=<%= pages %>">
                                                                      Last
                                                                    </a>
                                                                                </li>
                                                                                <% } %>
                </ul>
                <% } %>
        </div>
        <!--================================= PAGINATION ENDS HERE ==================================-->

        <!--================Special Recipe Area =================-->
        <section class="special_recipe_area">
            <div class="container">
                <div class="special_recipe_slider owl-carousel">
                    <div class="item">
                        <div class="media">
                            <div class="d-flex">
                                <img src="img/recipe/recipe-1.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Special Recipe</h4>
                                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi equatur uis autem vel eum.</p>
                                <a class="w_view_btn" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="d-flex">
                                <img src="img/recipe/recipe-1.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Special Recipe</h4>
                                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi equatur uis autem vel eum.</p>
                                <a class="w_view_btn" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="d-flex">
                                <img src="img/recipe/recipe-1.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Special Recipe</h4>
                                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi equatur uis autem vel eum.</p>
                                <a class="w_view_btn" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="media">
                            <div class="d-flex">
                                <img src="img/recipe/recipe-1.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Special Recipe</h4>
                                <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi equatur uis autem vel eum.</p>
                                <a class="w_view_btn" href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Special Recipe Area =================-->

        <!--================Newsletter Area =================-->
        <section class="newsletter_area">
            <div class="container">
                <div class="row newsletter_inner">
                    <div class="col-lg-6">
                        <div class="news_left_text">
                            <h4>Join our Newsletter list to get all the latest offers, discounts and other benefits</h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="newsletter_form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your email address">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Subscribe Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Newsletter Area =================-->

        <!--============================ PAGE  FOOTER   =================-->
        <%- include('includes/footer.ejs') %>