<%- include('includes/header.ejs'); %>

    <%- include('includes/menu_header.ejs');  %>

        <!--================End Main Header Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_text">
                    <h3>Portfolio</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="portfolio">Portfolio</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Main Header Area =================-->

        <!--================Portfolio Area Area =================-->
        <section class="portfolio_area p_100">
            <div class="container">
                <div class="portfolio_filter">
                    <ul class="list_style">
                        <li class="active" data-filter="*"><a href="#">All</a></li>
                        <li data-filter=".cake"><a href="#">Cakes</a></li>
                        <li data-filter=".bakery"><a href="#">Bakery</a></li>
                        <li data-filter=".past"><a href="#">Pastries</a></li>
                        <li data-filter=".choco"><a href="#">Chocolates</a></li>
                        <li data-filter=".bread"><a href="#">Breads</a></li>

                    </ul>
                </div>

                <% if(data_gallery.length > 0){ %>

                    <div class="row grid_portfolio_area imageGallery1">
                        <% for(let gallery of data_gallery){ %>
                            <div class="col-md-4 col-6 cake bakery bread">
                                <div class="portfolio_item">
                                    <div class="portfolio_img">
                                        <a class="light" href="/uploads/<%=gallery.image %>">
                                            <img class="img-fluid" src="/uploads/<%=gallery.image %>" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio_text">
                                        <a href="/uploads/<%=gallery.image %>" target="_blank">
                                            <h4>
                                                <%=gallery.title %>
                                            </h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>

                    <% } %>
            </div>
        </section>
        <!--================End Portfolio Area Area =================-->

        <!---======================= PAGINATION STARTS HERE ====================-->
        <div class="container">

            <!-- PAGINATION -->
            <% if (pages > 0) { %>
                <ul class="pagination text-center">
                    <% if (current == 1) { %>
                        <li class="disabled"><a>First</a></li>
                        <% } else { %>
                            <li><a href="/portfolio/?page=1">First</a></li>
                            <% } %>
                                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                    <% if (i !== 1) { %>
                                        <li class="disabled"><a>...</a></li>
                                        <% } %>
                                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                                <% if (i == current) { %>
                                                    <li class="active">
                                                        <a>
                                                            <%= i %>
                                                        </a>
                                                    </li>
                                                    <% } else { %>
                                                        <li>
                                                            <a href="/portfolio/?page=<%= i %>">
                                                                <%= i %>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                                            <% if (i == Number(current) + 4 && i < pages) { %>
                                                                <li class="disabled"><a>...</a></li>
                                                                <% } %>
                                                                    <% } %>
                                                                        <% if (current == pages) { %>
                                                                            <li class="disabled"><a>Last</a></li>
                                                                            <% } else { %>
                                                                                <li>
                                                                                    <a href="/portfolio/?page=<%= pages %>">
                                                                              Last
                                                                            </a>
                                                                                </li>
                                                                                <% } %>
                </ul>
                <% } %>
        </div>
        <!--================================= PAGINATION ENDS HERE ==================================-->


        <!--================Newsletter Area =================-->
        <section class="newsletter_area">
            <div class="container">
                <div class="row newsletter_inner">
                    <div class="col-lg-6">
                        <div class="news_left_text">
                            <h4>Join our Newsletter list to get all the latest offers, discounts and other benefits</h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="newsletter_form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your email address">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Subscribe Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--================End Newsletter Area =================-->

        <!--============================ PAGE  FOOTER   =================-->
        <%- include('includes/footer.ejs') %>